---
layout: home
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Latest Resumes</h1>

{% set resumeslist = collections.resumes | head(-3) %}
{% set resumeslistCounter = collections.resumes | length %}
{% include "resumeslist.njk" %}

<p>More resumes can be found in <a href="{{ '/resumes/' | url }}">the archive</a>.</p>
