---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	{% set absoluteUrl %}{{ metadata.feed.path | url | absoluteUrl(metadata.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.resumes | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.feed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for resume in collections.resumes %}
	{% set absoluteResumeUrl %}{{ resume.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ resume.data.title }}</title>
		<link href="{{ absoluteResumeUrl }}"/>
		<updated>{{ resume.date | rssDate }}</updated>
		<id>{{ absoluteResumeUrl }}</id>
		<content type="html">{{ resume.templateContent | htmlToAbsoluteUrls(absoluteResumeUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
