---
layout: page
templateClass: tmpl-resume
---

<h2>To Do</h2>

<ul>
  <li>[x] Name</li>
  <li>[x] Location</li>
  <li>[x] Social</li>
  <li>[x] Skills</li>
  <li>[ ] Experience</li>
  <li>[ ] Education</li>
  <li>[ ] References (Upon Request)</li>
</ul>

<h1>{{name}}</h1>

<div>{{email}}</div>
<div>{{phone}}</div>
<div>{{location}}</div>

<ul>
{% for profile in social %}
  <li>
    {{ profile }}
  </li>
{% endfor %}
</ul>

<h2>Skills</h2>

<ul>
{% for skill in skills %}
  <li class="skilllist-item">
    {{ skill }}
  </li>
{% endfor %}
</ul>

<h2>Experience</h2>

<h2>Education</h2>

{# {{ content | safe }} #}
