---
layout: base
templateClass: tmpl-resume
---

<div itemscope itemtype="http://schema.org/Person">

<header>
  <h1 itemprop="name">{{ name }}</h1>
  <p itemprop="jobTitle">{{ title }}</p>
</header>

<main>
  <section>
    <h2 class="hidden">Details</h2>

    {% if location %}
    <address itemprop="address">{{ location }}</address>
    {% endif %}

    {% if phone %}<div itemprop="telephone">{{ phone }}</div>{% endif %}
    {% if email %}
    <div>
      <a href="mailto:{{ email }}">
        <span itemprop="email">{{ email }}</span>
      </a>
    </div>
    {% endif %}

    {% if website %}
    <div><a itemprop="url" href="{{ website }}">{{ website }}</a></div>
    {% endif %}

    {# social #}
    {% if social.twitter %}
    <div>
      <a itemprop="sameAs" rel="me" href="https://twitter.com/{{ social.twitter }}">
        twitter.com/{{ social.twitter }}
      </a>
    </div>
    {% endif %}
    {% if social.github %}
    <div>
      <a itemprop="sameAs" rel="me" href="https://github.com/{{ social.github }}">
        github.com/{{ social.github }}
      </a>
    </div>
    {% endif %}
    {% if social.linkedin %}
    <div>
      <a itemprop="sameAs" rel="me" href="https://www.linkedin.com/in/{{ social.linkedin }}/">
        linkedin.com/in/{{ social.linkedin }}
      </a>
    </div>
    {% endif %}
  </section>

  {% if profile %}
  <section>
    <h2>Profile</h2>

    <p itemprop="description">
      {{ profile }}
    </p>
  </section>
  {% endif %}

  <section class="skills">
    <h2>Skills</h2>

    <ul itemprop="knowsAbout">
      {% for skill in skills %}
      <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2>Experience</h2>

    {% for _experience in experience %}
    <div itemscope itemtype="http://schema.org/Event/Job">
      <div>
        <strong>
          <span itemprop="name">{{ _experience.title }}</span>
          at
          <span itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span itemprop="name">{{ _experience.organization }}</span>
          </span>
        </strong>
      </div>
      <time>
        {% if _experience.start_date %}
        <span itemprop="startDate" content="{{ _experience.start_date }}">
          {{ _experience.start_date }}
        </span>
        {% endif %}
        {% if _experience.start_date and _experience.end_date %}–{% endif %}
        {% if _experience.end_date %}
        <span itemprop="endDate" content="{{ _experience.end_date }}">
          {{ _experience.end_date }}
        </span>
        {% endif %}
      </time>

      {% if _experience.achievements %}
      <ul>
        {% for achievement in _experience.achievements %}
        <li>{{ achievement }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Education</h2>

    {% for _education in education %}
    <div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
      <div>
        <strong>
          <span itemprop="description">{{ _education.degree }}</span>
          at
          <span itemprop="name">{{ _education.school }}</span>
        </strong>
      </div>
      <time>
        {% if _education.start_date %}
        <span itemprop="startDate" content="{{ _education.start_date }}">
          {{ _education.start_date }}
        </span>
        {% endif %}
        {% if _education.start_date and _education.end_date %}–{% endif %}
        {% if _education.end_date %}
        <span itemprop="endDate" content="{{ _education.end_date }}">
          {{ _education.end_date }}
        </span>
        {% endif %}
      </time>

      {% if _education.achievements %}
      <ul>
        {% for achievement in _education.achievements %}
        <li>{{ achievement }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </section>

  {# testimonials #}

  {% if references %}
  <section>
    <h2>References</h2>

    {{ references }}
  </section>
  {% endif %}
</main>

{# {{ content | safe }} #}

</div>
